/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import "tailwindcss";

/* Estilos por defecto para las etiquetas de encabezado */
* {
  letter-spacing: 0.05em;
}


/* h1 */
h1 {
  font-size: 2.5em;
  /* Tamaño de fuente */
  font-weight: bold;
  /* Peso de fuente */
  margin: 0.67em 0;
  /* Margen superior e inferior */
}

/* h2 */
h2 {
  font-size: 2em;
  /* Tamaño de fuente */
  font-weight: bold;
  /* Peso de fuente */
  margin: 0.83em 0;
  /* Margen superior e inferior */
}

/* h3 */
h3 {
  font-size: 1.75em;
  /* Tamaño de fuente */
  font-weight: bold;
  /* Peso de fuente */
  margin: 1em 0;
  /* Margen superior e inferior */
}

/* h4 */
h4 {
  font-size: 1.5em;
  /* Tamaño de fuente */
  font-weight: bold;
  /* Peso de fuente */
  margin: 1.33em 0;
  /* Margen superior e inferior */
}

/* h5 */
h5 {
  font-size: 1.25em;
  /* Tamaño de fuente */
  font-weight: bold;
  /* Peso de fuente */
  margin: 1.67em 0;
  /* Margen superior e inferior */
}

/* h6 */
h6 {
  font-size: 1em;
  /* Tamaño de fuente */
  font-weight: bold;
  /* Peso de fuente */
  margin: 2em 0;
  /* Margen superior e inferior */
}