---
// You can use astro-icon or inline SVG for the arrow icon
---

<div>
  <form class="space-y-2 mb-6">
    <label for="SubscribeEmail" class="text-xl font-medium mb-4 dark:text-white">
      Subscribe to our newsletter
    </label>
    <div class="flex shadow-sm">
      <input
        type="email"
        name="SubscribeEmail"
        id="SubscribeEmail"
        placeholder="Enter your email"
        class="cursor-pointer rounded-s-md dark:bg-slate-900 pl-4 focus:outline-none focus:ring-1 focus:ring-orange-400 w-full"
      />
      <button class="bg-orange-500 p-2 rounded-e-md">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-6 w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
          />
        </svg>
      </button>
    </div>
  </form>
  <p class="text-sm text-slate-500 mb-6">
    Stay updated with our latest news and offers.
  </p>
</div>